header{
    color: red;
    a{
        @extend %link;
        &:hover{
           color: #00ff00; 
        }
        .active{
            color:paleturquoise;
        }
    }
}
%link{
    background-color:#ffffff;

}