head
    link(rel ="stylesheet" href="css/main.css")
    script(src="js/main.js")
    meta(name="viewport",content="width=device-width, inicial-scale=1.0")
    meta(charset="utf-8")
    title Pagina
body
    .banner
        nav
            ul
            each $val in [1,2,3,4,5,6,7]
                li
                    a(href="#") Teste  
        a.middlebutton(href="#") Clique aqui